@page "/create-account"

<!-- Styles -->
<link rel="stylesheet" href="css/pages/CreateAccount.css">

<!-- Content -->
<div class="create-account">
    <NavMenu HasPadding="true" IsFixed="true" />
    <div class="map"></div>
   
</div>

@code {
    
}