@inject AbstractUserService DriverService
@inject NavigationManager NavigationManager
@using Driver.Models
@using Driver.Services.user
@inject HttpClient Http
@page "/Register"

<h2><b>Register</b></h2>
<hr>

<div class="col-6">
    <input type="text" @bind="firstName" class="form-control" placeholder="first name">
</div>
<br />
<div class="col-6">
    <input type="text" @bind="lastName" class="form-control" placeholder="last name">
</div>
<div class="col-6">
    <input type="text" @bind="email" class="form-control" placeholder="email">
</div>
<div class="col-6">
    <input type="text" @bind="phoneNumber" class="form-control" placeholder="telephone number">
</div>
<div class="col-6">
    <input type="text" @bind="password" class="form-control" placeholder="password">
</div>
<br />
<div class="col-6">
    <button class="btn btn-primary" @onclick="RegisterUser">Login</button>
</div>

@code {
    private string firstName;
    private string lastName;
    private string email;
    private string password;
    private string phoneNumber;

    public async Task RegisterUser()
    {
        await DriverService.RegisterUser(new User()
        {
            FirstName = firstName,
            LastName = lastName,
            Email = email,
            PhoneNumber = phoneNumber,
            Password = password,
            //CreatedOn = long.Parse(DateTime.Now.ToLongTimeString())
        });
    }
}