.header {
    position: relative;
    width: 100%;
}

.header--fixed {
    left: 0;
    position: absolute;
    top: 0;
    z-index: 10;
}

.header--padding {
    padding: 24px 24px 0;
}

.header--background {
    background-color: #FFFFFF;
    padding-bottom: 24px;
}

.header__navigation {
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 100%;
}

.header__logo > a {
    text-decoration: none;
}

.header__schwifty {
    color: #000000;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.01em;
    line-height: 30px;
}

.header__actions {
    align-items: center;
    display: flex;
    justify-content: flex-end;
}

.header__link {
    background-color: #EFF2F6;
    border-radius: 16px;
    color: #000000;
    display: inline-block;
    font-family: Inter, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    padding: 7px 12px;
    text-decoration: none;
    margin-right: 24px;
}

.header__nav-toggle {
    cursor: pointer;
    display: flex;
    font-size: 0;
    justify-content: space-around;
    margin: 0 auto;
    width: 26px;
}

.nav {
    background-color: #FFFFFF;
    height: 100vh;
    left: 0;
    position: absolute;
    top: 0;
    visibility: hidden;
    width: 100vw;
    z-index: 1000;
}

.nav--visible {
    visibility: visible;
}

.nav--visible + .header__navigation {
    z-index: 1001;
}

.nav__container {
    border-top: 1px solid #EFF2F6;
    margin: 94px 24px;
}

.nav__links-list {
    list-style: none;
    margin-top: 48px;
}

.nav__link-item {
    margin-bottom: 32px;
}

.nav__link {
    color: #000000;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    line-height: 27px;
    text-decoration: none;
}