@page "/counter"
@using Customer.Models
@using Customer.Services.Order

@inject AOrderService OrderService;

<h1>Orders</h1>
<ul>
    @foreach (var message in _orders)
    {
        <li>@message.Text</li>
    }
</ul>


@code {
    private IList<Message> _orders = new List<Message>();

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        _orders = OrderService.GetAllOrders();
        OrderService.OrdersUpdate += OnNotify;
    }
    
    private async void OnNotify(IList<Message> messages)
    {
        Console.WriteLine("OnNotify function was called");
        _orders = messages;
        
        await InvokeAsync(StateHasChanged);
    }
}
