@page "/create-account"

@inject IJSRuntime JS

<!-- Styles -->
<link rel="stylesheet" href="css/pages/CreateAccount.css">

<!-- Content -->
<div class="create-account">
    <NavMenu HasPadding="true" IsFixed="true" HasBackground="true" />
    <div id="map"></div>
    <div class="content page-side-padding">
        <div class="content__header">
            <p class="head-line-tag">Create an account</p>
            <NavLink class="link--small" href="/login">Login</NavLink>
        </div>
        <h2 class="head-line-2 margin-b-16">Get comfortable rides faster and safer</h2>
        <p class="paragraph margin-b-32">Schwifty provides an innovative way of taxi ordering by doing that with Blazor</p>
        <NavLink class="button button--link margin-b-32" href="create-account/form">Create an account</NavLink>
        <div class="content-footer">
            <a class="suggestion" href="#">
                <div class="suggestion__icon content-footer__icon"></div>
                <span>Want to be a driver? Let's start the engine</span>
            </a>
        </div>
    </div>
</div>

@code {
    protected override async void OnInitialized()
    {
        await base.OnInitializedAsync();

        await JS.InvokeVoidAsync("window.initBasicDenmarkMap");
    }
}