@page "/"

@inject NavigationManager NavigationManager
@inject IJSRuntime JS
<button @onclick="@changePageToCreatOrder">Create order</button>

@code {

    private void changePageToCreatOrder()
    {
      NavigationManager.NavigateTo("/create-order");
    }
  
}
