.create-account {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.create-account > .map {
    flex: 1;
}

.map {
    background-color: #F0F0F0;
}

.content {
    padding-top: 32px;
    padding-bottom: 32px;
}

.content__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

.content-footer__icon {
    background-color: #000000;
    border-radius: 15px;
    height: 29px;
    width: 46px;
}

.create-account-form {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-top: 32px;
}

.create-account-form .form {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.create-account-form .form > form {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.create-account-form .form .form-submit {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-end;
}

.form-agreement__checkbox-container {
    align-items: flex-start;
    display: flex;
    margin-bottom: 32px;
}

.form-agreement__checkbox {
    margin: 2px 8px 0 0;
}