.map-container {
    height: 50%;
    width: 50%;
}

.map-placeholder {
    height: 82%;
    position: absolute;
    width: 55%;
    z-index: 0;
}
button{
    background: white;
    border: 1px solid black;
    padding: 1px;
    cursor: pointer;
}